
a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

ul {
    list-style-type: none;
}

.center {
    text-align: center;
    color:#fff;
}

.method-tag {
    font-weight: bolder;
    width:110px;
    border-radius: 5px;
}
